*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Monaco', monospace;

}

body{
  /* background-color: #557952; */
  background-color: #3c5a80;
  overflow: hidden; 

  animation: slideInLeft ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 300px;
  height: 100%;
  padding: 80px 40px;
  
}

.wrapper .sidebar h2{
  padding: 30px;
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding-left: 50px;
  padding-bottom: 20px;
}    

.wrapper .sidebar ul li a{
  color: #fff;
  display: block;
}
    
.wrapper .sidebar ul li:hover a{
  /* color: #000;
   */
   text-decoration-line: underline;
   text-decoration-style: wavy;
}

.wrapper .home{
  width: 100%;
  padding-top: 200px;
  padding-left: 50px;
}

.wrapper .img{
  padding-top: 500px;
}

.about {
  /* border: 5px solid; */
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-left: 7%;
  margin: 0%;
  /* padding: 5px; */
}

.about img{
  padding-top: 0%;
  margin-left: 10px;
  /* display: block;
  margin: 0 auto;
  width: 40%; */
}
/* 
.home p{
  
} */

.about-text {
  color: #fff;
  padding-left: 5%;
  padding-right: 10%;
}





















